<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div th:fragment="module2">
   <article th:id="|${p.position}|" class="container box style1 right">
		<div class="inner">

		<div class="container">
		<div id="box_questionnaire">
        	<div class="list-group" >
        	
        		<h6 th:text="'Question ' + ${p.position+1} + ' / ' + ${#lists.size(ListeModules)}">Question 2/6</h6>
        		<h2 th:text="${p.nom}">Antécédents médicaux ophtalmologiques</h2>
        	</div>

          <div class="panel panel-primary " th:id="'module'+${p.position +1}">
            <div class="panel-body">
                <div class="form-group question" th:each="q:${p.questions}">
                <!--/* Titre de chaques question */-->
                  <h4 class="panel-title" th:text="${q.texte}"><i class="btnDebutQuestion" aria-hidden="true"></i>Etes-vous suivis pour un problème ophtalmologique1 ?</h4>
					
					
			       	
			       	<div class ="row " th:if="${#lists.size(q.reponses)} > 2" style="background-color: rgba(154,188,214,0.3);margin-left: 5%;margin-right: 5%;padding: 10px;text-align:right;">
						<th:block th:each="r:${q.reponses}" >
							<span th:class="col-lg-6" >
							<label th:for="${#strings.concat(r.id_reponse, '_reponse')}"   th:id="${#strings.concat('labelInButton',r.id_reponse)}"  th:text="${r.texte}"></label>
							 <!--/* Les réponses */-->
							<block th:if="${r.type}!=2">
							
<!-- 						<label th:for="${#strings.concat(r.id_reponse, '_reponse')}"   th:id="${#strings.concat('labelInButton',r.id_reponse)}"  th:text="${r.texte}"></label> -->
					       	<input th:if="${not q.multiple}" th:id="${#strings.concat(r.id_reponse, '_reponse')}" th:type="${not q.multiple}? radio : checkbox" th:field="*{reponses[__${q.reponses[0].id_reponse}__].reponse.id_reponse}" th:value="${r.id_reponse}" th:onchange="'javascript:selectQuestionEffacable(' + ${r.id_reponse} +');changeValue('+${r.id_reponse}+')'" class="option-input" />
					       	<input th:if="${q.multiple}" th:id="${#strings.concat(r.id_reponse, '_reponse')}" th:type="${not q.multiple}? radio : checkbox" th:field="*{reponses[__${r.id_reponse}__].reponse.id_reponse}" th:value="${r.id_reponse}" th:onchange="'javascript:selectQuestionEffacable(' + ${r.id_reponse} +');changeValue('+${r.id_reponse}+')'" class="option-input" />
					       
					       	</block>
					       	<th:block th:if="${r.type}==1"><!--/*  Si réponse type texte */-->
							<input th:id="${r.id_reponse} + '_reponse_text'"   class="reponseText" type="text" th:field="*{reponses[__${r.id_reponse}__].reponse.texte}" value=""  th:onchange="'javascript:selectQuestionEffacable(' + ${r.id_reponse} +');changeValueHidden('+${r.id_reponse}+');'" />
							<input th:id="${r.id_reponse} + '_reponse'" type="hidden" th:field="*{reponses[__${r.id_reponse}__].reponse.id_reponse}" value=""   />
							</th:block>
							<th:block th:if="${r.type}==2"><!--/*  Si réponse type range */-->
							&nbsp;-<input th:id="${r.id_reponse} + '_reponse_text'"   class="reponseText" style="margin-left: 10px;margin-top: -8px;" type="range" value="5" max="10" min="0" step="1" th:field="*{reponses[__${r.id_reponse}__].reponse.texte}"   th:onchange="'javascript:changeValueHidden('+${r.id_reponse}+');'" />&nbsp;+
							<input th:id="${r.id_reponse} + '_reponse'" type="hidden" th:field="*{reponses[__${r.id_reponse}__].reponse.id_reponse}" value=""   />
							</th:block>
								</span>
						</th:block> 
			       	</div>
			    
			       	
			       	<th:block th:each="r:${q.reponses}" >
			    	<div class="question" th:id="${r.id_reponse} + '_sousQuestion'" th:if="${#lists.size(r.sousQuestions)} > 0">
			    		<!--/*  SOUS PARTIE DMLA */-->
			    		<th:block th:each="sq:${r.sousQuestions}" >
			    		<div class ="row row_question" th:if="${#lists.size(sq.reponses)} > 1" >
				    		<h4 class="control-label col-lg-12 col-xs-12" th:text="${sq.texte}" style="margin-top: 20px;"> Quel(s) problème(s) ophtalmologique(s) avez-vous1 ?</h4>
				    	</div>
				    	<div class =" row_question" >	
				    		<th:block th:each="sr:${sq.reponses}" >
				    			<th:block th:if="${#lists.size(sq.reponses)} > 1">

					    			
					    				<label th:for="${sr.id_reponse} + '_reponse'" class="col-lg-2 col-xs-12" th:text="${sr.texte}"> Oeil droit</label>
<!--/* 									<input th:id="${sr.id_reponse} + '_reponse'" th:field="*{reponses[__${sq.reponses[0].id_reponse}__].reponse.texte}" th:value="${sr.id_reponse}" type="radio" th:onchange="'javascript:selectQuestionEffacable(' + ${sr.id_reponse} +')'" class="option-input radio"/> */-->
					    				<th:block th:if="${sq.multiple}">
										<input th:id="${sr.id_reponse} + '_reponse'"  th:field="*{reponses[__${sr.id_reponse}__].reponse.id_reponse}" th:value="${sr.id_reponse}" type="checkbox" th:onchange="'javascript:selectQuestionEffacable(' + ${sr.id_reponse} +');changeValue('+ ${sr.id_reponse}+')'" class="option-input "/>
								    				
								    	</th:block>
								    	<th:block th:if="! ${sq.multiple} ">
												<input th:id="${sq.id_question} + '_reponse_radio'"  th:name="${sq.id_question} + '_reponse_radio'" th:value="${sr.id_reponse}" type="radio" th:onchange="'javascript:selectQuestionEffacable(' + ${sr.id_reponse} +');changeValueRadio('+${sq.id_question}+','+ ${sr.id_reponse}+')'" class="option-input radio"/>
								    			<input th:id="${sr.id_reponse} + '_reponse'" type="hidden" th:field="*{reponses[__${sr.id_reponse}__].reponse.id_reponse}" value=""   />
								    	</th:block>	
							    </th:block>
							    <th:block th:if="${#lists.size(sq.reponses)} == 1 AND ${sq.reponses[0].type} != 1 ">
								   <label th:for="${sq.id_question} + '_reponse'" class="control-label col-lg-4 col-xs-12" th:text="${sq.texte}"> Greffe</label>
								   <input th:id="${sq.reponses[0].id_reponse} + '_reponse'" type="checkbox" th:field="*{reponses[__${sq.reponses[0].id_reponse}__].reponse.id_reponse}" value=""  th:onchange="'javascript:selectQuestionEffacable(' + ${sq.reponses[0].id_reponse} +');changeValue('+${sq.reponses[0].id_reponse}+')'" class="option-input radio"/>
								 </th:block>
<!--/* 								 SI TYPE TEXTE */-->
					    		<th:block th:if="${#lists.size(sq.reponses)} == 1 AND ${sq.reponses[0].type} == 1">
					    			<label th:for="${sq.id_question} + '_reponse'" class="control-label col-lg-4 col-xs-12" th:text="${sq.texte}"> Greffe</label>
					    			<input th:id="${sr.id_reponse} + '_reponse_text'"   class="reponseText" type="text" th:field="*{reponses[__${sr.id_reponse}__].reponse.texte}" value=""  th:onchange="'javascript:selectQuestionEffacable(' + ${sr.id_reponse} +');changeValueHidden('+${sr.id_reponse}+');'" />
									<input th:id="${sr.id_reponse} + '_reponse'" type="hidden" th:field="*{reponses[__${sr.id_reponse}__].reponse.id_reponse}" value=""   />
					    		</th:block>

				    			
				    			
				    		</th:block>
				    	</div>
				    		<th:block th:each="sr:${sq.reponses}" >
				    		<!--/*  SOUS PARTIE DMLA */-->
					    		<div class="question champEffacable" th:id="${sr.id_reponse} + '_sousQuestion'" th:if="${#lists.size(sr.sousQuestions)} > 1" >
					    			<div class ="row row_question">
					    				<h5  class="col-lg-12 col-xs-12" th:text="${sr.texte}">Cornée</h5>
		 			    			</div>
		 			    			<th:block th:each="ssq:${sr.sousQuestions}" >
					    			<div class ="row row_question" >
					    				
					    					<th:block th:if="${#lists.size(ssq.reponses)} > 1">
								    			<label th:for="${ssq.id_question} + '_reponse'" class="control-label col-lg-4 col-xs-12" th:text="${ssq.texte}"> Greffe</label>
								    			<th:block th:each="ssr:${ssq.reponses}" >
								    				<label th:for="${ssr.id_reponse} + '_reponse'" class="col-lg-2 col-xs-12" th:text="${ssr.texte}"> Oeil droit</label>
													<input th:id="${ssr.id_reponse} + '_reponse'" th:field="*{reponses[__${ssq.reponses[0].id_reponse}__].reponse.texte}" th:value="${ssr.id_reponse}" type="radio" th:onchange="'javascript:selectQuestionEffacable(' + ${ssr.id_reponse} +')'" class="option-input radio"/>
								    			</th:block>
							    			</th:block>
							    			<th:block th:if="${#lists.size(ssq.reponses)} == 1 AND ${ssq.reponses[0].type} != 1 ">
								    			<label th:for="${ssq.id_question} + '_reponse'" class="control-label col-lg-4 col-xs-12" th:text="${ssq.texte}"> Greffe</label>
								    			<input th:id="${ssq.reponses[0].id_reponse} + '_reponse'" type="checkbox" th:field="*{reponses[__${ssq.reponses[0].id_reponse}__].reponse.id_reponse}" value=""  th:onchange="'javascript:selectQuestionEffacable(' + ${ssq.reponses[0].id_reponse} +');changeValue('+${ssq.reponses[0].id_reponse}+')'" class="option-input radio"/>
								    		</th:block>
								    		<!--/*  SI TYPE TEXTE */-->
								    		<th:block th:if="${#lists.size(ssq.reponses)} == 1 AND ${ssq.reponses[0].type} == 1">
								    			<label th:for="${ssq.id_question} + '_reponse'" class="control-label col-lg-4 col-xs-12" th:text="${ssq.texte}"> Greffe</label>
								    				<input th:id="${ssq.reponses[0].id_reponse} + '_reponse'" type="text" th:field="*{reponses[__${ssq.reponses[0].id_reponse}__].reponse.id_reponse}" value=""   />
								    		</th:block>
							    		
									</div>
									</th:block>
								</div>
				    		</th:block>
			    		</th:block>
					</div>
			    	</th:block> <!--/* boucle sousQuestions */-->
				
				<!--/* Module avec un question oui/non et plusieurs sous question avec des choix */-->
				
				
				
					
				</div>
			</div> 
        </div>

		<a th:if="${p.position+1 != 6 }" th:href="|#${p.position+1}|" class="button style2 scrolly-middle">suivant</a> <!--/* n'affiche pas suivant pour le dernier module */-->
				
	</div> 
  </div>
  
</div>
		</article>	
		
</div>

</body>
</html>
