<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="mail.gandi.net" />
		<property name="port" value="465" />
		<property name="username" value="contact@eyeneed.fr" />
		<property name="password" value="lunettes123!" />
		
		<property name="javaMailProperties">
			<props>
            	<prop key="mail.smtp.auth">true</prop>
            	<prop key="mail.smtp.starttls.enable">true</prop>
            	<prop key="mail.smtp.ssl.enable">true</prop>
            	<prop key="mail.smtp.starttls.required">false</prop>
            	<prop key="mail.debug">true</prop>
        	</props>
		</property>
		
	</bean>
	
	<bean id="Mail" class="fr.eyeneed.entities.Mail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessage" />
	</bean>
	
	<bean id="customeMailMessage"
		class="org.springframework.mail.SimpleMailMessage">

		<property name="from" value="contact@eyeneed.fr" />
		<property name="to" value="zeyoungz@gmail.com" />
		<property name="subject" value="Testing Subject" />
		<property name="text">
		<value>
			<![CDATA[
				Dear %s,
				Mail Content : %s
			]]>
		</value>
	</property>
	</bean>


</beans>