<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<title>EyeNeed: ADMINISTRATION</title>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="js/jquery-3.1.1.min.js" th:href="@{js/jquery-3.1.1.min.js}" charset="utf-8"></script>
	<link href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link href="css/style_particule.css" rel="stylesheet"/>
	<link href="css/accueil.css" rel="stylesheet"/>
	<link href="css/navbar.css" rel="stylesheet"/>
	<link href="css/index.css" rel="stylesheet"/>
</head>
<body>
	<div id="particles-js">
		<div class="bringFront">
		<div th:include="layouts/includeAdmin :: headerAdmin">
		</div>

   	
<!-- top navigation -->
<!-- 			<div  th:include="layouts/include :: headUser"> -->
			
<!-- 			</div> -->
			<div class="row" >
			
			</div>
<!-- /top navigation -->

			<div class="container-fluid">
				<div class="row rowAccueil">

					<div class="col-md-6 col-sm-3 col-xs-12">
						<div class="wrimagecard wrimagecard-topimage">
							<a th:href="@{visualisation}">
								<div class="wrimagecard-topimage_header bg-couleur1">
									<center>
										<i class="fa fa-eye couleur1"> </i>
									</center>
								</div>
								<div class="wrimagecard-topimage_title">
									<h4>
										Visualisation des Rdv
										<div class="pull-right badge" id="WrForms"></div>
									</h4>
								</div>

							</a>
						</div>
					</div>				
					
					<div class="col-md-6 col-sm-3 col-xs-12">
						<div class="wrimagecard wrimagecard-topimage">
							<a th:href="@{synthese}">
								<div class="wrimagecard-topimage_header bg-couleur1">
									<center>
										<i class="fa fa-ambulance couleur1"></i>
									</center>
								</div>
								<div class="wrimagecard-topimage_title">
									<h4>
										Synthése pré-consultation
										<div class="pull-right badge" id="WrThemesIcons"></div>
									</h4>
								</div>
							</a>
						</div>
					</div>
<!-- 					<span class="col-lg-3"></span> -->
					
					

					
					
				</div>
				
		<form class="form-horizontal" th:action="@{/viewReponse}" method="get">
			<fieldset>
				
				<div class="row">
        			<div class="col-md-5">
    					<h6 class="titleFormSynthese">Récupérer la pré-consultation d'un utilisateur : </h6>
            				<div id="custom-search-input">
				                <div class="input-group col-md-12">
				                    	<input id="textinput" name="textinput" type="text" placeholder="login" class="form-control input-md"/>
				                    
				                    <span class="input-group-btn">
				                        <button class="btn btn-info btn-lg" type="submit">
				                            <i class="fa fa-search"></i>
				                        </button>
				                    </span>
				                </div>
           					 </div>
        			</div>
				</div>
				

			</fieldset>
		</form>
		
		
			</div>

		</div>

	</div>
<div class="modal fade" id="rdv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stats de rdv</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		
		  <div class="row">
		  	<h6 th:text="'Lunettes:' + ${indicateur.lunettes}"> Confirmation renouvellement : </h6>
		  </div>
		  <div class="row">
		  	<h6 th:text="'Consultations:' + ${indicateur.consultations}"> Confirmation renouvellement : </h6>
		  </div>
		  <div class="row">
		  	<h6 th:text="'Chirurgie:' + ${indicateur.chirurgie}"> Confirmation renouvellement : </h6>
		  </div>
		  <div class="row">
		  	<h6 th:text="'Examens:' + ${indicateur.examens}"> Confirmation renouvellement : </h6>
		  </div>
		  <div class="row">
		  	<h6 th:text="'Controle:' + ${indicateur.controle}"> Confirmation renouvellement : </h6>
		  </div>
		  <div class="row">
		  	<h6 th:text="'Fond d oeil:' + ${indicateur.fondOeil}"> Confirmation renouvellement : </h6>
		  </div>
		   
		 
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary"><a href="/saveRdvLunettes">Confirmer</a></button>
      </div> -->
    </div>
  </div>
</div>
<footer th:include="layouts/include :: footer" class="bg-inverse" id="footer">
</footer>
	
<!-- <script src="js/particles.js"></script> -->
<!-- <script src="js/particlesConfig.js"></script> -->
	

</body>
</html>